<ol>
    <li>
        <strong>Selalu siapkan alat pemadam kebakaran</strong>
        <p>Sebagai langkah pencegahan, selalu siapkan alat pemadam kebakaran. Ada banyak jenis alat pemadam
            kebakaran, tetapi yang paling umum adalah berisi kimia kering (Dry Chemical Powder),
            karbondioksida, dan busa (foam). Namun, apabila tidak memiliki alat ini, kalian bisa
            berjaga-jaga dengan kain tebal yang dibasahi, dan jika kebakaran terjadi tumpukkan kain itu pada
            api yang berkobar. </p>
    </li>
    <li>
        <strong>Matikan Kompor</strong>
        <p>Alih-alih panik dan lari menjauh pergi, hal pertama yang harus kalian lakukan apabila terjadi
            kebakaran karena kompor adalah mematikannya. Tindakan ini merupakan kunci utama agar api akan
            semakin membesar dan jika menjalar ke benda yang lain tentu akan semakin berbahaya. </p>
    </li>
    <li>
        <strong>Cabut Regulator dari Tabung Gas</strong>
        <p>Apabila ruang hampa di antara gas dan regulator bermasalah, cara mengatasinya adalah mencabut
            regulator dari tabung gas. Langkah ini untuk meminimalisir agar gas yang bocor tidak menjalar ke
            benda-benda yang lain, karena apabila sudah menjalar benda-benda yang lain tentu akan sangat
            berbahaya.</p>
    </li>
    <li>
        <strong>Jangan sekali-kali menyiram air ke atas kompor yang terbakar
        </strong>
        <p>Menyiramkan air ke dalam kobaran api di kompor justru akan memperluas kebakaran, karena akan
            timbul api yang besar ke atas karena suplai oksigen dari air yang menguap. Selain itu, minyak
            panas dari wajan juga bisa menimbulkan letupan dan loncatan karena kontak antara minyak panas
            dengan air dingin.</p>
    </li>
</ol>