<p>Berdasarkan Bahan pemadam api yang digunakan, APAR (Alat Pemadam Api Ringan) dapat digolongkan menjadi
    beberapa Jenis. Diantaranya terdapat 4 jenis APAR yang paling umum digunakan, yaitu :</p>
<ol>
    <li>
        <strong>Alat Pemadam Api (APAR) Air / Water</strong>
        <p> APAR Jenis Air (Water) adalah Jenis APAR yang disikan oleh Air dengan tekanan tinggi. APAR Jenis
            Air ini merupakan jenis APAR yang paling Ekonomis dan cocok untuk memadamkan api yang
            dikarenakan oleh bahan-bahan padat non-logam seperti Kertas, Kain, Karet, Plastik dan lain
            sebagainya (Kebakaran Kelas A). Tetapi akan sangat berbahaya jika dipergunakan pada kebakaran
            yang dikarenakan Instalasi Listrik yang bertegangan (Kebakaran Kelas C).
        </p>
    </li>
    <li>
        <strong>Alat Pemadam Api (APAR) Busa / Foam (AFFF)
        </strong>
        <p>APAR Jenis Busa ini adalah Jenis APAR yang terdiri dari bahan kimia yang dapat membentuk busa.
            Busa AFFF (Aqueous Film Forming Foam) yang disembur keluar akan menutupi bahan yang terbakar
            sehingga Oksigen tidak dapat masuk untuk proses kebakaran. APAR Jenis Busa AFFF ini efektif
            untuk memadamkan api yang ditimbulkan oleh bahan-bahan padat non-logam seperti Kertas, Kain,
            Karet dan lain sebagainya (Kebakaran Kelas A) serta kebakaran yang dikarenakan oleh bahan-bahan
            cair yang mudah terbakar seperti Minyak, Alkohol, Solvent dan lain sebagainya (Kebakaran Jenis
            B).
        </p>
    </li>
    <li>
        <strong>Alat Pemadam Api (APAR) Serbuk Kimia / Dry Chemical Powder
        </strong>
        <p>APAR Jenis Serbuk Kimia atau Dry Chemical Powder Fire Extinguisher terdiri dari serbuk kering
            kimia yang merupakan kombinasi dari Mono-amonium danammonium sulphate. Serbuk kering Kimia yang
            dikeluarkan akan menyelimuti bahan yang terbakar sehingga memisahkan Oksigen yang merupakan
            unsur penting terjadinya kebakaran. APAR Jenis Dry Chemical Powder ini merupakan Alat pemadam
            api yang serbaguna karena efektif untuk memadamkan kebakaran di hampir semua kelas kebakaran
            seperti Kelas A, B dan C.

            APAR Jenis Dry Chemical Powder tidak disarankan untuk digunakan dalam Industri karena akan
            mengotori dan merusak peralatan produksi di sekitarnya. APAR Dry Chemical Powder umumnya
            digunakan pada mobil.</p>
    </li>
    <li>
        <strong>Alat Pemadam Api (APAR) Karbon Dioksida / Carbon Dioxide (CO2)
        </strong>
        <p>APAR Jenis Karbon Dioksida (CO2) adalah Jenis APAR yang menggunakan bahan Karbon Dioksida (Carbon
            Dioxide / CO2) sebagai bahan pemadamnya. APAR Karbon Dioksida sangat cocok untuk Kebakaran Kelas
            B (bahan cair yang mudah terbakar) dan Kelas C (Instalasi Listrik yang bertegangan).
        </p>
    </li>
</ol>