<ol>
    <li>Pastikan untuk mencari lokasi pintu darurat sebagai jalur evakuasi pertama. Biasanya, saat terjadi
        kebakaran lift dan jaringan listrik tidak akan berfungsi, jadi kamu hanya bisa melewati tangga
        darurat. </li>
    <li>Pencet bel alarm kebakaran jika memungkinkan. </li>
    <li>Jika kebakarannya kecil dan masih dapat diatasi, segera ambil APAR dan semprotkan langsung ke titik
        kebakaran. </li>
    <li>Apabila kebakarannya besar dan api sulit dikendalikan, segera pergi ke pintu darurat untuk
        menyelamatkan diri. Untuk situasi yang sudah sangat darurat, utamakan keselamatanmu dan jangan
        buang-buang waktu untuk mengemasi barang karena semakin lama kamu berada di dalam gedung maka akan
        semakin berbahaya. </li>
    <li>Asap kebakaran akan membuat orang-orang di dalam gedung jadi sesak nafas dan pingsan. Untuk mencegah
        hal tersebut terjadi, basahi handuk atau kain dengan air dan tutupkan ke area hidung. </li>
    <li>Jika bajumu terbakar, segera berbaring dan berguling. Jangan berlari karena hal ini hanya akan
        semakin memperbesar nyala api. </li>
    <li>Menghubungi petugas pemadam kebakaran. </li>
    <li>Ikuti arahan dari petugas evakuasi yang bertugas. </li>
</ol>