<main class="mb-5 mt-5">
    <article class="container px-3">
        <div class="mb-5 mt-3 pt-3">
            <div class="border border-2" style="width: auto; height: 60lvh;overflow: hidden;">
                <img [src]="post.imgPath" [alt]="post.title" style="width: 100%;height: 100%; object-fit: cover;"
                    loading="eager">
            </div>
            <caption class="d-flex">
                sumber: <a [href]="post.imgSource">{{ post.imgWebSource }}</a>
            </caption>
        </div>

        <div>
            <h1 class="fw-bold mt-5 mb-4">
                <i [class]="post.icon+' text-danger '"></i>
                {{ post.title }}
            </h1>
        </div>
        <div class="mb-5">
            <hr class="" style="width: 4rem;height: 5px;background-color: red;color: red;">
        </div>
        <section class=" d-flex flex-column justify-content-start fs-5">
            <app-big-fire *ngIf="path=='big-fire'"></app-big-fire>
            <app-building *ngIf="path=='building'"></app-building>
            <app-lpg *ngIf="path=='lpg'"></app-lpg>
            <app-apar *ngIf="path=='apar'"></app-apar>
            <app-small-fire *ngIf="path=='small-fire'"></app-small-fire>
            <app-not-found *ngIf="path=='not-found'"></app-not-found>
        </section>
    </article>
</main>