<div class="d-flex flex-wrap justify-content-center p-5 gap-2">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title red">Pemadam Kebakaran</h5>
            <p class="card-text text-center">Hubungi pemadam kebakaran pada nomor berikut <br>
                <strong><a class="red" href="tel:113">113</a></strong>
                atau
                <strong><a class="red" href="tel:1131">11131</a></strong>
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title red">Ambulan</h5>
            <p class="card-text text-center">Jika ada korban selamat Hubungi ambulan pada nomor berikut <br>
                <strong><a class="red" href="tel:118">118</a></strong> atau
                <strong><a class="red" href="tel:119">119</a></strong>
            </p>
        </div>
    </div>
</div>
<div class="d-flex flex-row justify-content-center mb-3">
    <a type="button" href="/big-fire" class="btn btn-lg btn-danger">Tips memadamkan api besar</a>
</div>