<ol>
    <li>
        <strong>Soda Kue</strong>
        <p>Menebarkan soda kue ke api mampu memadamkannya karena soda kue mengeluarkan karbon dioksida.
            Tindakan ini dapat dilakukan apabila api masih kecil. Jika api sudah besar, maka soda kue tidak
            akan berpengaruh.</p>
    </li>
    <li>
        <strong>Pasir</strong>
        <p>Satu ember pasir dapat memadamkan api. Pasir akan memutus pasokan oksigen api hingga
            meredakannya. Pasir yang ditebarkan bisa pasir kering maupun basah. Tanah juga bisa jadi
            alternatif lain.</p>
    </li>
    <li>
        <strong>Karung Basah</strong>
        <p>Jangan pernah menggunakan lap basah untuk memadamkan api. Kandungan airnya akan segera hilang
            ketika menghadapi api dan malahan lap tersebut akan terbakar. Lebih baik memakai karung basah
            yang seratnya lebih susah terbakar.</p>
    </li>
    <li>
        <strong>Menutup Benda</strong>
        <p>Jika api berada dalam sebuah benda, seperti wajan penggorengan, tutuplah wajan dengan sesuatu
            yang kedap udara. Tutup akan langsung menghabiskan suplai oksigen api dan membuatnya berhenti.
        </p>
    </li>
    <li>
        <strong>Alat Pemadam (APAR)</strong>
        <p>Tabung pemadam dirancang khusus untuk memadamkan api karena adanya kandungan sodium bikarbonat
            dan aluminium sulfat. Campuran kedua hal itu menciptakan busa serta gas karbon dioksida.</p>
    </li>
    <li>
        <strong>Batang Kayu dan Daun</strong>
        <p>Metode ini dinamakan gepyok, yaitu dengan memukul-mukulkan batang kayu dan dedauan ke sumber api.

            Umumnya yang digunakan untuk metode gepyok ini adalah serabut kelapa yang dibasahi.</p>
    </li>
    <li>
        <strong>Karantina Api</strong>
        <p>Konsepnya sama seperti memotong jalur oksigen suplai api. Perbedaannya adalah api dibiarkan
            berkobar tanpa memberikannya material untuk terbakar lagi.

            Namun untuk bisa seperti itu, api serta materialnya perlu dipindahkan ke tempat yang aman
            terlebih dahulu.</p>
    </li>
</ol>
<p>Penanganan api sebenarnya bisa dilakukan dengan mudah dan sederhana asalkan tidak panik dan selagi api
    masih dalam kondisi kecil.

    Jika sudah membesar, maka satu-satunya cara adalah evakuasi dan meminta pertolongan warga sekitar serta
    pemadam kebakaran.</p>