<p>Panci berisi minyak mendidih yang sedang terbakar sangat sulit untuk dipadamkan. Air, yang biasa kita
    gunakan untuk memadamkan api, adalah bahan terakhir yang sebaiknya Anda gunakan di sini. Jadi apa yang
    harus kamu lakukan?</p>
<ul>
    <li>
        <strong>Selimut atau penutup api</strong>
        <p>Jangan pernah meninggalkan penggorengan lemak atau wajan berisi lemak panas tanpa pengawasan.
            Jika terbakar, Anda hanya punya waktu beberapa menit untuk memadamkannya. Inilah sebabnya
            mengapa Anda harus selalu memiliki penutup atau selimut api saat Anda ingin menggoreng makanan.

            Jika Anda menemukan api dengan cepat, Anda dapat menutupnya dengan penutup atau selimut api
            untuk memadamkan api. Anda juga harus menyadari bahwa minyak panas dapat menyala kembali,
            meskipun Anda mengira apinya sudah padam.

            Jika api sudah membesar, sulit dan berbahaya untuk mendekatinya dengan penutup atau selimut.
            Minyak juga bisa mendidih hanya dalam beberapa menit, sehingga api akan menyebar ke seluruh
            permukaan kerja dan lantai.</p>
    </li>
    <li>
        <strong>Gunakan alat pemadam khusus</strong>
        <p>Beberapa alat pemadam genggam telah dikembangkan secara khusus untuk memadamkan api lemak dan
            minyak. Pengujian telah menunjukkan bahwa, tidak seperti alat pemadam api biasa, alat ini
            efektif dalam memadamkan api besar dan mencegahnya menyala kembali. Jika Anda sering menggoreng,
            Anda harus mempertimbangkan untuk menyimpan salah satu alat pemadam khusus ini di dapur. Anda
            dapat membelinya di toko perangkat keras dan toko DIY.</p>
    </li>
    <li>
        <strong>Jangan pernah menggunakan air</strong>
        <p>Air dan lemak panas tidak dapat bercampur. Jika Anda mencoba memadamkan api panas dengan air,
            Anda akan menghasilkan bola api yang dapat meledak. Inilah sebabnya mengapa Anda tidak boleh
            menggunakan air untuk memadamkan api besar.</p>
    </li>
    <li>
        <strong>Alat pemadam kebakaran dapat memperburuk kebakaran</strong>
        <p>Pengujian telah menunjukkan bahwa alat pemadam genggam biasa yang diisi dengan busa, bubuk, dan
            CO2 tidak efektif dalam memadamkan api yang melibatkan minyak nabati. Tekanan pada alat pemadam
            ini, khususnya alat pemadam bubuk, juga cenderung tinggi sehingga memaksa minyak yang terbakar
            keluar dari panci. Hal ini kemudian menyebabkan api semakin meluas.</p>
    </li>
</ul>