/* You can add global styles to this file, and also import other style files */
/* .bg-web {
    --bs-bg-opacity: .7;
    background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
  } */

  /* body{
    background-color: #222831;
  } */
  nav{
    background-color: white;
  }
  .red{
    color: red;
  }
  